body {
    background-color: #3961d9;
}

h1 {
    color: black;
    font-family: verdana;
    font-size: 250%;
    text-align: center;
    padding: 10px;
}

.sidenav {
    position: fixed;
    height: 100%;
    width: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #111;
    padding-top: 200px;
}

.sidenav a{
    text-decoration: none;
    padding: 12px 8px 6px 16px;
    display: block;
    color: #818181;
    font_size: 35px;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    font-size: 28px;
    padding: 0px 10px;
    margin-top: 70px;
    font-family: verdana;
}

@media screen and (max-height: 450px){
    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}
}