{% extends "base.html" %}

{% block content %}

    <h3>Add word</h3>


    {% if is_dataset_selected %}
    <form autocomplete="off" action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.question.label }} <br>
            {{ form.question(size=32) }}
        </p>
        <p>
            {{ form.answer.label }} <br>
            {{ form.answer(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    {% else %}
        <p>First you need to select dataset</p>
    {% endif %}

    {% if ret == 0 %}
        <p>This word is already added</p>
    {% endif %}

{% endblock %}
