<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8"
    content="width=device-width, initial-scale=1">
    <title>Word Learn App</title>
</head>
<body>
    <h1>Word Learn App</h1>
    <div class="sidenav">
        <a href="#">Text 1</a>
        <a href="#">Text 2</a>
        <a href="#">Text 3</a>
        <a href="#">Text 4</a>
    </div>

    <div class="main">
        <h3>Main content</h3>
        <p> text </p>
    </div>
</body>
</html>