<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8"
    content="width=device-width, initial-scale=1">
    <title>Word Learn App</title>
</head>
<body>
    <h1>App</h1>
    <div class="sidenav">
        <a href="/learn">Learn</a>
        <a href="/add_word">Add word</a>
        <a href="/add_dataset">Create new dataset</a>
        <a href="#">Text 4</a>
    </div>

    <div class="main">
        {% block content %}
        {% endblock%}
    </div>
</body>
</html>