{% extends "base.html" %}

{% block content %}

    <h3>Learn</h3>
    {% if is_dataset_selected %}
    <form autocomplete="off" action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
            {% if question %}
                <p>{{question.question}}</p>
            {% else %}
                <p>Dataset is empty</p>

            {% endif %}
        <p>
            {{ form.answer(size=32) }}
        </p>
        <p>
            {{ form.submit() }} <br>
        </p>
    </form>
    {% else %}
        <p>First you need to select dataset</p>
    {% endif %}

{% endblock %}