{% extends "base.html" %}

{% block content %}
{% if is_dataset_selected %}
    {% if pairs|length < 1 %}
        <p>Dataset is empty</p>
    {% else %}
    <div class="stats">
        <h3>Dataset stats</h3>

        <table class="dataset_stats">
            <tr>
                <td>Word typed</td>
                <td>{{word_typed}}</td>
            </tr>
            <tr>
                <td>Accuracy</td>
                    {% if accuracy != -1 %}
                        <td>{{accuracy}} %</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
            </tr>
        </table>


        <table class="pairs_stats">
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Correct</th>
                <th>Wrong</th>
                <th>Appearances</th>
                <th>Accuracy</th>
                <th>Delete</th>
            </tr>
            {% for pair in pairs %}
            <tr>
                <td>{{pair.question}}</td>
                <td>{{pair.answer}}</td>
                <td>{{pair.correct}}</td>
                <td>{{pair.wrong}}</td>
                <td>{{pair.correct + pair.wrong}}</td>
                {% if pair.correct + pair.wrong == 0 %}
                    <td>-</td>
                {% else %}
                    <td>{{100 * pair.correct//(pair.correct+pair.wrong)}} %</td>
                {% endif %}
                <td>
                    <a href="/delete_word/{{pair.id}}" class="delete_word">Delete word</a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
{% else %}
    <p>First you need to select dataset</p>
{% endif %}


{% endblock %}